header {
    background-color: #0d0c22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.nav {
    margin-right: 2rem;
}

.nav a {
    display: inline-block;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: larger;
    color: aliceblue;
}

.brand {
    font-size: 2.5rem;
    font-weight: 600;
}